<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!-- Tell the browser to be responsive to screen width -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <!-- Favicon icon -->
        <link rel="icon" type="image/png" sizes="16x16" href="../../public/images/logo-icon.png">
        <title>RentCar</title>
        <!-- Bootstrap Core CSS -->
        <link href="../../public/css/backend_css/lib/bootstrap/bootstrap.min.css" rel="stylesheet">
        <!-- Custom CSS -->
        <link href="../../public/css/backend_css/helper.css" rel="stylesheet">
        <link href="../../public/css/backend_css/style.css" rel="stylesheet">
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:** -->
        <!--[if lt IE 9]>
        <script src="https:**oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https:**oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        <style type="text/css">
            .edit_logo{
                margin-left: 150px;
            }
            .edit_judul_form{
                float: right;
            }
            .btn-edit{
                width: 310px;
            }
            .btn-ku{
                background-color: #EC5E24;
                color: white;
            }
            .bar_atas{
                float: right;
                margin-right: 230px;
            }
            .jarak{
                margin-right: 45px;
                font-size: 9.5pt;
            }
        </style>
    </head>
    <body class="fix-header">
    <!-- Preloader - style you can find in spinners.css -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
			<circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
    </div>
    <!-- Main wrapper  -->
    <div id="main-wrapper">
        <!-- header header  -->
        <div class="header2">
            <span class="bar_atas">
                <a href="#" class="jarak">JOIN RENTCAR</a>
                <a href="#" class="jarak">PESANAN</a>
                <a href="#" class="jarak">LOGIN </a>
                <a href="#" class="jarak">DAFTAR</a>
            </span>
        </div>
        <div class="header">
            <nav class="navbar top-navbar navbar-expand-md navbar-light">
                <!-- Logo -->
                <div class="navbar-header">
                    <a class="navbar-brand edit_logo" href="index.html">
                        <!-- Logo icon -->
                        <b><img src="../../public/images/logo.png" alt="homepage" class="dark-logo" /></b>
                        <!--End Logo icon -->
                        <!-- Logo text -->
                    </a>
                </div>
                <!-- End Logo -->
                <div class="navbar-collapse">
                    <!-- toggle and nav items -->
                    <ul class="navbar-nav mr-auto mt-md-0"></ul>
                    <!-- User profile and search -->
                    <ul class="navbar-nav my-lg-0">
                        <!-- Search -->
                        <li class="nav-item hidden-sm-down search-box"> 
                            <a class="nav-link hidden-sm-down text-muted " href="javascript:void(0)">
                                <i class="ti-search"></i>
                            </a>
                            <form class="app-search">
                                <input type="text" class="form-control" placeholder="Search here"> 
                                <a class="srh-btn">
                                    <i class="ti-close"></i>
                                </a>
                            </form>
                        </li>
                        <!-- Comment -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-muted text-muted" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 
                                <i class="fa fa-bell"></i>
								<div class="notify"> 
                                    <span class="heartbit"></span> 
                                    <span class="point"></span> 
                                </div>
							</a>
                            <div class="dropdown-menu dropdown-menu-right mailbox animated zoomIn">
                                <ul>
                                    <li>
                                        <div class="drop-title">Notifications</div>
                                    </li>
                                    <li>
                                        <div class="message-center">
                                            <!-- Message -->
                                            <a href="#">
                                                <div class="btn btn-danger btn-circle m-r-10"><i class="fa fa-link"></i>
                                                </div>
                                                <div class="mail-contnet">
                                                    <h5>This is title</h5> 
                                                    <span class="mail-desc">Just see the my new admin!
                                                    </span> 
                                                    <span class="time">9:30 AM</span>
                                                </div>
                                            </a>
                                            <!-- Message -->
                                            <a href="#">
                                                <div class="btn btn-success btn-circle m-r-10"><i class="ti-calendar"></i></div>
                                                <div class="mail-contnet">
                                                    <h5>This is another title</h5> <span class="mail-desc">Just a reminder that you have event</span> <span class="time">9:10 AM</span>
                                                </div>
                                            </a>
                                            <!-- Message -->
                                            <a href="#">
                                                <div class="btn btn-info btn-circle m-r-10"><i class="ti-settings"></i></div>
                                                <div class="mail-contnet">
                                                    <h5>This is title</h5> <span class="mail-desc">You can customize this template as you want</span> <span class="time">9:08 AM</span>
                                                </div>
                                            </a>
                                            <!-- Message -->
                                            <a href="#">
                                                <div class="btn btn-primary btn-circle m-r-10"><i class="ti-user"></i></div>
                                                <div class="mail-contnet">
                                                    <h5>This is another title</h5> <span class="mail-desc">Just see the my admin!</span> <span class="time">9:02 AM</span>
                                                </div>
                                            </a>
                                        </div>
                                    </li>
                                    <li>
                                        <a class="nav-link text-center" href="javascript:void(0);"> 
                                            <strong>Check all notifications</strong> 
                                            <i class="fa fa-angle-right"></i> 
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <!-- End Comment -->
                        <!-- Messages -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-muted" href="#" id="2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 
                                <i class="fa fa-envelope"></i>
								<div class="notify"> 
                                    <span class="heartbit"></span> 
                                    <span class="point"></span> 
                                </div>
							</a>
                            <div class="dropdown-menu dropdown-menu-right mailbox animated zoomIn" aria-labelledby="2">
                                <ul>
                                    <li>
                                        <div class="drop-title">You have 4 new messages</div>
                                    </li>
                                    <li>
                                        <div class="message-center">
                                            <!-- Message -->
                                            <a href="#">
                                                <div class="user-img"> 
                                                    <img src="../../public/images/users/5.jpg" alt="user" class="img-circle"> 
                                                    <span class="profile-status online pull-right"></span>
                                                </div>
                                                <div class="mail-contnet">
                                                    <h5>Michael Qin</h5> 
                                                    <span class="mail-desc">Just see the my admin!</span> <span class="time">9:30 AM</span>
                                                </div>
                                            </a>
                                            <!-- Message -->
                                            <a href="#">
                                                <div class="user-img"> 
                                                    <img src="../../public/images/users/2.jpg" alt="user" class="img-circle"> 
                                                    <span class="profile-status busy pull-right"></span> 
                                                </div>
                                                <div class="mail-contnet">
                                                    <h5>John Doe</h5> 
                                                    <span class="mail-desc">I've sung a song! See you at</span> 
                                                    <span class="time">9:10 AM</span>
                                                </div>
                                            </a>
                                            <!-- Message -->
                                            <a href="#">
                                                <div class="user-img"> 
                                                    <img src="../../public/images/users/3.jpg" alt="user" class="img-circle"> 
                                                    <span class="profile-status away pull-right"></span> 
                                                </div>
                                                <div class="mail-contnet">
                                                    <h5>Mr. John</h5> 
                                                    <span class="mail-desc">I am a singer!</span> 
                                                    <span class="time">9:08 AM</span>
                                                </div>
                                            </a>
                                            <!-- Message -->
                                            <a href="#">
                                                <div class="user-img"> 
                                                    <img src="../../public/images/users/4.jpg" alt="user" class="img-circle"> 
                                                    <span class="profile-status offline pull-right"></span> 
                                                </div>
                                                <div class="mail-contnet">
                                                    <h5>Michael Qin</h5>
                                                     <span class="mail-desc">Just see the my admin!</span> 
                                                     <span class="time">9:02 AM</span>
                                                </div>
                                            </a>
                                        </div>
                                    </li>
                                    <li>
                                        <a class="nav-link text-center" href="javascript:void(0);"> 
                                            <strong>See all e-Mails</strong> 
                                            <i class="fa fa-angle-right"></i> 
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <!-- End Messages -->
                        <!-- Profile -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-muted" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img src="../../public/images/users/5.jpg" alt="user" class="profile-pic" />
                            </a>
                            <div class="dropdown-menu dropdown-menu-right animated zoomIn">
                                <ul class="dropdown-user">
                                    <li><a href="#"><i class="ti-user"></i> Profile</a></li>
                                    <li><a href="#"><i class="ti-wallet"></i> Balance</a></li>
                                    <li><a href="#"><i class="ti-email"></i> Inbox</a></li>
                                    <li><a href="#"><i class="ti-settings"></i> Setting</a></li>
                                    <li><a href="#"><i class="fa fa-power-off"></i> Logout</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="header3"></div>
        </div>
        
        <!-- End header header -->
        <!-- Left Sidebar  -->
        
        <!-- End Left Sidebar  -->
        <!-- Page wrapper  -->
            <!-- Bread crumb -->
            
            <!-- End Bread crumb -->
            <!-- Container fluid  -->
        <div class="container-fluid edit_form">
            <!-- Start Page Content -->
            <div class="col-lg-7">
                <div class="card">
                    <div class="card-body"> 
                        <h2><b>Buat Akun RentCar Anda</b></h2>
                            <span>sudah menjadi member?
                                <a href="#"> Login </a>disini</span>
                    </div>
                </div>
            </div>
            <!-- page content -->
            <div class="col-lg-7"><!--mengganti ukuran form-->
                <div class="card card-outline-primary">
                    <div class="card-body">
                        <form class="form-valide" action="#">
                            <div class="form-body">
                                <div class="row p-t-20">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div>
                                                <label class="control-label">Nama lengkap
                                                    <span class="text-danger">*</span>
                                                </label>
                                                    <input type="text" class="form-control" id="val-username" name="val-nama" placeholder="Nama Lengkap">
                                                </div> 
                                            </div>
                                        </div>
                                        <!--/span-->
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div>
                                                    <label class="control-label">Alamat Email
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <input type="text" class="form-control" id="val-email" name="val-email" placeholder="Mohon isi alamat email Anda">
                                                    </div>
                                                </div>
                                            </div>
                                        <!--/span-->
                                    </div>
                                    <!--/row-->
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div>
                                                <label class="control-label">Kata Sandi
                                                    <span class="text-danger">*</span>
                                                </label>
                                                <input type="password" class="form-control" id="val-password" name="val-password" placeholder="Minimal 6 karakter">
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div>
                                                    <label class="control-label">Nomor Handphone
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <input type="text" class="form-control" id="val-phone" name="val-phone" placeholder="212-999-0000">
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                    </div>
                                    <!--/row-->
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div>
                                                    <label class="control-label">Tulis ulang kata sandi
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <input type="password" class="form-control" id="val-confirm-password" name="val-confirm-password" placeholder="Mohon tulis ulang kata sandi Anda">
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="">
                                                    <label class="css-control css-control-primary css-checkbox" for="val-terms">
                                                        <input type="checkbox" class="css-control-input" id="val-terms" name="val-terms" value="1">
                                                        <span class="css-control-indicator">Saya menyetujui</span> 
                                                        <a href="#">Kebijakan Privasi RentCar
                                                            <span class="text-danger">*</span>
                                                        </a>
                                                    </label>
                                                </div>
                                            </div>
                                            <button type="submit" class="btn col-lg-12 btn-success">DAFTAR</button>
                                        </div>
                                        <!--/span-->
                                    </div>
                                    <!--/row-->
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div>
                                                    <label class="control-label">Tanggal Lahir</label>
                                                    <input type="date" id="val-" class="form-control" placeholder="tanggal lahir">
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                        <!--/span-->
                                    </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- /page content -->

                <!-- End Page Content -->
        </div>
        <!-- End Container fluid  -->
        <!-- footer -->
        <footer class="footer"> © 2018 <a href="https://colorlib.com">RentCar</a></footer>
        <!-- End footer -->
        
        <!-- End Page wrapper  -->
    </div>
    <!-- End Wrapper -->
    <!-- All Jquery -->
    <script src="../../public/js/backend_js/lib/jquery/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="../../public/js/backend_js/lib/bootstrap/js/popper.min.js"></script>
    <script src="../../public/js/backend_js/lib/bootstrap/js/bootstrap.min.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="../../public/js/backend_js/jquery.slimscroll.js"></script>
    <!--Menu sidebar -->
    <script src="../../public/js/backend_js/sidebarmenu.js"></script>
    <!--stickey kit -->
    <script src="../../public/js/backend_js/lib/sticky-kit-master/dist/sticky-kit.min.js"></script>
    

    <!-- Form validation -->
    <script src="../../public/js/backend_js/lib/form-validation/jquery.validate.min.js"></script>
    <script src="../../public/js/backend_js/lib/form-validation/jquery.validate-init.js"></script>
    <!--Custom JavaScript -->
    <script src="../../public/js/backend_js/custom.min.js"></script>
    </body>

</html>